body {
    background-color: rgb(255, 255, 255) !important;
    font-size: 20px;
}

h1,
h2,
h3 {
    color: rgb(201, 189, 171);
    text-align: center;
    font-family: 'Arial', 'Times New roman', 'sans-serif';
    font-weight: Bold;
}

p {
    color: bisque;
    font-family: 'Arial', 'Times New roman', 'sans-serif';
    text-align: center;
    font-style: italic;
}

/* whole search bar container */
.search {
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0,0,0);
    border-right: 4px solid rgb(0,0,0);
    display: flex;
    align-items: left;
    justify-content: left;
    height: 25px;
}

/* svg search icon */
#icon {
    width: 24px;
    height: 24px;
    color: rgb(2, 6, 29);
}

/* whole search bar input */
.textbox {
    flex-grow: 1;
    padding-left: 0px;
    width: 1fr;
    height: auto;
    margin-left: 0px;
    border: none;
    outline: none;
}

.grid {
    padding: 2em;
    border: 1px solid rgb(207, 67, 42);
    border-radius: 8px;
    background-color: rgb(135, 16, 16);
    text-align: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

.nav-bar {
    position: sticky;
    background-color: rgb(37, 63, 192);
    color: rgb(139, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 45rem;
}

/* for normal selector */
/* # for id selector */
/* . for class selector */