body {
    background-color: rgb(48, 85, 179) !important;
    font-size: 20px;
}

h1,
h2,
h3 {
    color: rgb(201, 189, 171);
    text-align: center;
    font-family: 'Arial', 'Times New roman', 'sans-serif';
    font-weight: Bold;
}

p {
    color: bisque;
    font-family: 'Arial', 'Times New roman', 'sans-serif';
    text-align: center;
    font-style: italic;
}

.container {
    position: relative;
    border: 2px solid rgb(158, 29, 29);
    width: 600px;
    height: 30px;
}

#icon1 {
    position: relative;
    top: 14%;
    left: 153px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    color: rgb(22, 8, 88);
}


.search-input {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 75%;
    width: 98%;
}


.grid {
    padding: 2em;
    border: 1px solid color tomato;
    border-radius: 8px;
    background-color: rgb(135, 16, 16);
    text-align: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

.nav-bar {
    position: sticky;
    background-color: rgb(37, 63, 192);
    color: rgb(139, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 45rem;
}

.grid {
    padding: 2em;
    border: 1px solid tomato;
    border-radius: 8px;
    background-color: rgb(135, 16, 16);
    text-align: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

/* for normal selector */
/* # for id selector */
/* . for class selector */